# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# Staging & Uploads
backend/staging/
temp_uploads/

# .NET / C#
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.vscode/
.idea/
.vs/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
